*{  
    font-family: 'Montserrat', sans-serif; 
    text-decoration: none;
    color: white;
 
}
nav{
    box-shadow: 0px 3px 8px 0px #ccc;
}
.container a img{
    height: 8vh;
    width: 10vw;
}
#menu ul li a{
    font-size: 18px;
    font-weight: 500;
}  
#rajiv {
    /* background-color: yellow; */
    height: 700px;
    width: 100%;
} 
@media screen and (max-width: 767px) {
    #image{
       /* display: none; */
       height: 400px;
       color: black;
    }
}
#rajiv h1{
    color: green;
} 

#rajiv img{
    height: 80%;
    width: 80%;
    border-radius: 50%;
} 
#rajiv i {
    border: 2px solid red;
    height: 2px;
    width: 2px;
    padding: 5px;
    margin: 8px;
    border-radius: 50%;
}

#about{
    /* background-color: gray; */

}
#about img{
    height: 80%;
    width: 80%;
    border-radius: 10%;
}



     